.about{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 31px;
    padding-bottom: 50px;
}

p{
    line-height: 2;
}

a{
    color: burlywood;
    text-decoration: none;
}

a:hover{
    transition: color 1s ease;
    color: brown;
}

@media only screen and (max-width: 600px){
    .about{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}