body {
  background-color: #282c34;
}

.container {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
  color: beige;
}

.container > div {
  flex: 1;
  padding: 20px;
}

.container > div:nth-child(2) {
  flex: 2; /* The second div (ContainerTwo) takes up 2 parts of the available space */
  overflow-y: auto;
}

/* Media query for screens with a maximum width of 600px (adjust as needed) */
@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Stack containers vertically on smaller screens */
    height: auto;
    width: auto;
  }

  .container > div:nth-child(2){
    flex: 5;
  }
}
